<h1>{{ title }}</h1>
<app-test
  [value]="20"
  (textChange)="receiveText($event)"
  [(count)]="initialCount"
></app-test>
<p>Data from child:{{ receivedText }}</p>
<!-- <button (click)="changeName()" (keydown.enter)="updateText($event)">
  Change Name
</button> -->

<!-- control-flow -->
<!-- @if(a>b){
<p>{{ a }} is greater than {{ b }}</p>
} @else{
<p>{{ b }} is greater than {{ a }}</p>
} -->

<!-- ngClass  -->
<p [ngClass]="a > b ? 'blue' : 'green'">
  Styled using ngClass - {{ a }} and {{ b }}
</p>

<!--ngStyle-->
<p [ngStyle]="styles">Styled using ngStyle</p>

<!--ngModel and ngIf-->
Enter username: <input type="text" [(ngModel)]="userName" *ngIf="false" />
<p>Welcome: {{ userName }}</p>

<!--ngFor-->
<ul>
  Colors using ngFor
</ul>
<li *ngFor="let color of colors; let idx = index">
  Color with index:{{ idx }} - {{ color }}
</li>

<!-- for -->
<ul>
  Colors using for
</ul>
@for(color of colors;let id=$index;track id){
<li>{{ color }}</li>
}

<!--ngNonbondable-->
<p ngNonBindable>This is non-bindable {{ 1 + 1 }}</p>

<!-- template-reference-variable -->
Enter your name:
<input #nameInput type="text" />
<button (click)="alert(nameInput.value)">Show Name</button>

<!--angular routing-->
<ul>
  <li>
    <a routerLink="first-component" routerLinkActive="active"
      >First Component</a
    >
  </li>
  <li>
    <a routerLink="second-component">Second Component</a>
  </li>
  <li>
    <a routerLink="home-component">Home Component</a>
  </li>
</ul>
<router-outlet></router-outlet>

<app-name-editor></app-name-editor>
<app-profile-editor></app-profile-editor>
