<p>Profile Editor Component - Reactive Form : Formgroup</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName" />
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName" />
  <br /><br />
  <div formArrayName="skills">
    <input
      type="text"
      placeholder="Add skill..."
      *ngFor="let skill of skills.controls; let i = index"
      [formControlName]="i"
    />
  </div>
  <p>Form Status: {{ profileForm.status }}</p>
  <button type="submit">Submit</button>
  <br /><br /><br />
</form>

<h2>User Profile - Template Driven Forms</h2>
<form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
  <div class="form-group">
    <label for="firstname">FirstName</label><br />
    <input
      type="text"
      name="firstname"
      class="form-control"
      [(ngModel)]="user1.firstName"
    />
  </div>
  <p>FirstName:{{ user1.firstName }}</p>
  <div class="form-group">
    <label for="lastname">LastName</label><br />
    <input type="text" name="lastname" class="form-control" ngModel />
  </div>
  <p>FirstName:{{ user1.lastName }}</p>
  <div class="form-group">
    <label for="email">EmailID</label><br />
    <input type="text" name="email" class="form-control" ngModel />
  </div>

  <button class="btn btn-primary" type="submit">Save</button>
</form>
